/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  background: #ecf0f3;
  width: 320px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
  text-align: center;
}

.card .img{
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}

.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ecf0f3;
}

.card .details{
  margin: 20px 0;
}

.details .name{
  font-size: 23px;
  font-weight: 600;
  color: #31344b;
}

.details .job{
  font-size: 18px;
  color: #44476a;
}

.card .media-icons{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.media-icons a{
  text-decoration: none;
  color: #31344b;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 10px;
  line-height: 40px;
  font-size: 18px;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
  transition: all 0.3s ease;
}

.media-icons a:hover{
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
  color: #ec1d25;
}

.card .buttons{
  display: flex;
  justify-content: space-between;
}

.buttons button{
  width: 100%;
  height: 45px;
  margin: 0 5px;
  border: none;
  outline: none;
  background: #ecf0f3;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  color: #31344b;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button:hover{
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}